<ion-header>
    <ion-navbar>
      <ion-title>EDITAR ACTIVIDAD</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-list *ngFor="let d of descripcion">

    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="d.nombre_activi"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="d.fecha_activi"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Numero de Jornales</ion-label>
      <ion-input type="text"  [(ngModel)]="d.num_jornales"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Activo</ion-label>
        <ion-checkbox [(ngModel)]="estado" color="dark"></ion-checkbox>
      </ion-item>

    <ion-item>
      <ion-label floating>Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="d.descripcion_activi"></ion-input>
    </ion-item>

    <ion-card *ngIf="error">
        <ion-card-header color="danger">
          Debe llenar todos los campos
        </ion-card-header>
      </ion-card>

    <button ion-button color="secondary" block (click)="guardar()">Guardar</button>
  </ion-list>
</ion-content>
