<ion-header>
  <ion-navbar>
    <ion-title>EDITAR FINCA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list *ngFor="let d of descripcion">

  <ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="d.nombre_finca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Ubicacion</ion-label>
    <ion-input type="text" [(ngModel)]="d.ubicacion_finca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Descripcion</ion-label>
    <ion-input type="text"  [(ngModel)]="d.descripcion_finca"></ion-input>
  </ion-item>

 <!--  <ion-item>
    <ion-label floating>Trabajador Encargado</ion-label>
    <ion-input type="text" [(ngModel)]="d.trabajador_encargado"></ion-input>
  </ion-item> -->

  <ion-item>
    <ion-label>Trabajador</ion-label>
    <ion-select [(ngModel)]="d.trabajador_encargado">
      <ion-option *ngFor="let t of empleados" value="{{t.id_empleado}}">{{t.nombre_emple}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="error">
      <ion-card-header color="danger">
        Debe llenar todos los campos
      </ion-card-header>
    </ion-card>

  <button ion-button color="secondary" block (click)="guardar()">Guardar</button>
</ion-list>
</ion-content>
